doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/echarts.js')
    script(src='javascripts/jquery-3.6.0.js')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    script(src='javascripts/bootstrap.bundle.js')
    if title==='Home'
      style.
        body {
          background: url("images/Background.png");
          background-size: 100% 100%;
        }
        footer {
          color: #fff;
        }
  body.d-flex.flex-column
    .navZero.w-100
    .navFirst.text-center.w-100
      nav.navbar.navbar-expand-lg
        .container-fluid
          button.navbar-toggler(
            type='button',
            data-bs-toggle='collapse',
            data-bs-target='#theNavBar',
            aria-controls='theNavBar',
            aria-expanded='false',
            aria-label='Toggle navigation'
          )
            span.navbar-toggler-icon
          #theNavBar.collapse.navbar-collapse.pl-5
            //- a.navbar-brand(href='#')
            //-   img(src='/images/logo.png')
            ul.navbar-nav.mr-auto.ml-4
              li.nav-item
                a.nav-link(class={ active: title === "Tree" }, href='tree') Tree
              li.nav-item
                a.nav-link(class={ active: title === "Difference" }, href='difference') Difference
              li.nav-item
                a.nav-link(class={ active: title === "Chromosome" }, href='chromosome') Chromosome
              li.nav-item
                a.nav-link(class={ active: title === "Heatmap" }, href='heatmap') Heatmap
    .navSecond.mb-1
    .container
      block content
    //- footer.footer.mt-auto.py-3
    //-   .container.
    //-     © 2021
